:root {
  --roboto-reg: "Roboto Regular";

  --col-back: #acc8e5;
  --col-back-active: #1588ec;
  --col-text: #112a46;
}

.App {
  width: 87%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  /* text-align: center; */
}
.btns_container {
  display: flex;
  justify-content: center;
}
.lists_container {
  width: 50%;
  margin: 20px auto;
}
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
